<!DOCTYPE html>
<html lang="en">
{% include head.html %}
	<body>
		
		{{ content }}
		
		<!-- Bottom Nav -->
		<div class="bottom-nav">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
						<a href="{{ site.baseurl }}/" class="btn btn-default"><i class="fa fa-home"></i></a>
					  </div>
					  <div class="btn-group" role="group">
						<a href="{{ site.baseurl }}/list" class="btn btn-default"><i class="fa fa-list-ul"></i></a>
					  </div>
					</div>
		</div><!-- bottom-nav -->
	{% include foot.html %}	
	</body>
</html>